/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo img {
    width: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.banner img {
    width: 100%;
    height: auto;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

footer {
    background: #111;
    text-align: center;
    padding: 1rem 0;
    color: #888;
}
